- name: Application user setup
  include_role:
    name: common
    tasks_from: app-setup

- name: upgrade openssl packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: latest
  loop:
    - openssl
    - openssl-libs
    - openssh
    - openssh-server
    - openssh-clients

- name: nodejs setup
  include_role:
    name: common
    tasks_from: nodejs

- name: copy mongodb repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: install mongodb client
  ansible.builtin.dnf:
    name: mongodb-mongosh
    state: present

- name: check products loaded or not
  ansible.builtin.command: mongosh --host mongodb.daws84s.pro --eval 'db.getMongo().getDBNames().indexOf("catalogue")'
  register: catalogue_output

- name: print catalogue output
  ansible.builtin.debug:
    msg: "{{ catalogue_output }}"

- name: load products
  ansible.builtin.shell: mongosh --host mongodb.daws84s.pro </app/db/master-data.js
  when: catalogue_output.stdout | int < 0


- name: systemd setup
  include_role:
    name: common
    tasks_from: systemd.yaml
