  - name: install python3 packages
    ansible.builtin.dnf:
      name: "{{ item }}"
      state: installed
    loop:
    - openssl
    - openssl-libs
    - openssh
    - openssh-server
    - openssh-clients
    - python3 
    - gcc 
    - python3-devel

  - name: install dependencies
    ansible.builtin.pip:
      requirements: requirements.txt
      executable: pip3.9
    args:
      chdir: /app
